nav {
    display: block;
    text-transform: uppercase;
}

body {
    background-color: #eaeaea;
    box-sizing: border-box;
    text-size-adjust: 100%;
    /* text-align: center; */
}


section {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    /* display: flex;
    justify-content: center; */

}

img {
    width: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    justify-content: left;
}

.boxmargin {
    width: 80%;
    margin: 0 auto;
}

.eve {
    justify-content: space-evenly;
}

.none {
    justify-content: start;
}

.jc-sp {
    justify-content: space-between;
}

.jc-ar {
    justify-content: space-around;
}

.jc-ev {
    justify-content: space-evenly;
}

.gry {
    color: #8d8d8d;
}

.fs2-2 {
    font-size: 2.2rem;
}

.fs3 {
    font-size: 3rem;
}

.clear-fix {
    clear: both;
}



/*________________________logo and nav________________________*/


.navbg {

    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #e4e4e4 30%, rgba(0, 0, 0, 0));
    height: 20vh;
    z-index: 2;
}

.navfix {
    padding-top: 2.5rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.navmargin {
    width: 92%;
    margin: 0 auto;
}

.logo-t {
    width: 20%;
    text-align: left;
    min-width: 217px;
}

.linkflex {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
}

.imgsize {
    width: 0.8rem;
    margin-right: 5px;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.playbar {
    background-color: white;
    width: 17%;
    border-radius: 1rem;
    height: 3rem;
    padding: 0 10px;
    min-width: 260px;

    justify-content: center;
}

.playbtnsize {
    width: 0.7rem;
    padding: 10px;
}

.playbtnsize01 {
    width: 2rem;
    margin-right: 15px;

}

.recordbox {
    cursor: pointer;
    transform-style: flat;
    animation: rotate 10000ms linear infinite;
}

.playbtnsize01::before {
    position: absolute;
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 50%;
    /* border: 30px solid rgba(0, 0, 0, 0); */
    width: 20%;
    /* height: 500px; */
    height: 0;
    padding-top: 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;

}

@keyframes rotate {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.playinfo {
    text-align: left;
    width: 40%;
    min-width: 109px;
}

.playtitle {
    font-size: 70%;
    padding-bottom: 10px;
    font-weight: 900;
}

.playsubtitle {
    font-size: 5px;
    color: #8d8d8d;
}

.playprev {
    transform: scale(-1, 1);
}

@keyframes comeup {
    0% {
        opacity: 0;
        bottom: 6rem;
    }

    100% {
        opacity: 1;
        bottom: 8rem;
    }
}

@keyframes godown {

    0% {
        opacity: 1;
        bottom: 8rem;
    }

    100% {
        opacity: 0;
        bottom: 6rem;
    }
}


@media screen and (max-width:768px) {
    html {
        font-size: calc(100vw / 75);
    }

    body {
        min-width: 375px;
        margin: 0;
    }

    .box94ml {
        border-top: 1px solid #b9b9b9;
        margin: 0 10%;
        padding-top: 10rem;
    }

    .navfix {
        height: 40vh;
        background-image: linear-gradient(180deg, #e4e4e4 10%, rgba(0, 0, 0, 0));
    }

    .navmargin {
        width: 100vw;
        z-index: 99;
    }

    .logo-t {
        position: fixed;
        top: 0;
        text-align: center;
        height: 30vh;
        width: 100%;
        padding-top: 10%;
    }

    .logo-fix a {
        font-size: 3vw;
        font-weight: 700;
    }

    .nav-btn {
        background-color: #eaeaea;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #d3d3d3;
    }

    .linkflex {
        display: block;
        justify-content: center;
        cursor: pointer;
        margin-right: 20px;
        width: 100%;
        margin: 0 auto;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .imgsize {
        width: 2.5rem;
        margin-right: 5px;
        padding-bottom: 10px;
        margin: 0 auto;
    }


    .nav-ul {
        justify-content: space-between;
        padding: 10px 20px;

    }

    .nav-li {
        width: 20%;
        padding: 10px;
    }

    

    .playbtnsize01 {
        width: 9rem;
        margin: 0 2rem 0 1.2rem;
    }

    .playbtnsize01::before {
        width: 15%;
        padding-top: 15%;
    }

    .playinfo {
        width: 33.5rem;
        height: 9rem;
        /* padding-left: 10rem; */

    }

    .playtitle {
        font-size: 3rem;
        line-height: 2rem;
        font-weight: 700;
        letter-spacing: 0px;
        padding-top: 10px;
    }

    .playsubtitle {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: -2px;
    }

    .playbtn {
        width: 20rem;
        padding-right: 0rem;
    }

    .playbtnsize {
        width: 95%;

    }

    .btnplay {
        width: 120%;
        padding: 0 10px;
    }

    .playbar {
        width: 90%;
        border-radius: 15px;
        height: 13rem;
        padding: 0 10px;
        position: fixed;
        bottom: -102rem;
        left: 2vw;

    }

    .barcomeup {
        animation: comeup 0.5s linear;
        opacity: 1;
    }

    .bargodown {
        animation: godown 0.5s linear;
        opacity: 0;
    }

    @keyframes comeup {
        0% {
            opacity: 0;
            bottom: -106rem;
        }

        100% {
            opacity: 1;
            bottom: -102rem;
        }
    }

    @keyframes godown {

        0% {
            opacity: 1;
            bottom: -102rem;
        }

        100% {
            opacity: 0;
            bottom: -106rem;
        }
    }
}
/*___________________Banner_______________________*/

#banner {
    width: 100%;
    overflow: hidden;

}



/*_____________________playlist_________________*/

.loop-player-list a {
    display: block;
}

.loop-player-list {
    position: relative;
    padding-top: 7%;
    left: 20%;
    float: left;
    z-index: 1;
    min-width: 1000px;
}

.cd-relate {
    position: relative;
    width: 100%;
}

.ready-diskmove {
    left: 30%;
    ;
    top: 38%;
}

.ready-diskmove01 {
    left: 20%;
    top: 38%;
}

.ready-play {
    width: 80%;
    height: 80%;
    min-width: 200px;
    position: relative;
    margin: 0 auto;
}

.cd-play {
    width: 130%;
    height: 130%;
    min-width: 300px;
    position: relative;
    animation: rotate 15000ms linear infinite;
}

.cd-look img {
    border-radius: 100%;
    border: none;
}

.cd-play::before,
.ready-play::before {
    position: absolute;
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 50%;
    /* border: 30px solid rgba(0, 0, 0, 0); */
    width: 10%;
    /* height: 500px; */
    height: 0;
    padding-top: 10%;
    top: 45%;
    left: 45%;
    right: 0;
    bottom: 0;
    margin: -10%, 0, 0 -10%;
}

.cd-play::after,
.ready-play::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 95%;
    height: 0;
    padding-top: 95%;
    top: 2%;
    left: 2%;
}

.cd-title {
    padding-top: 25%;
    width: 250px;
    text-align: left;
    min-width: 166px;
}

.p-tag {
    background-color: #fff;
    font-weight: 700;
    padding: 0.8rem 0.4rem 0.5rem;
    text-align: center;
}

.ptag1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.ptag2 {
    font-size: 0.9rem;
    text-align: left;
    padding-right: 1rem;
    padding-top: 5px;
}

.p-smalltag {
    color: #2e2e2e;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}


@media screen and (max-width:768px) {
    #banner {
        padding-top: 60%;
    }

    .cd-title {
        /* transform: translate3d(0,0,50%); */
        /* z-index: 2; */
        width: 400px;
        min-width: 166px;
        position: absolute;
        text-align: left;
        bottom: 15%;
    }

    .p-smalltag {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        background-color: #eaeaea;
        border-radius: 5px;
        max-width: 20rem;
        padding: 1.3rem .8rem;
        margin-bottom: 10px;
    }

    .p-tag {
        /* padding: 1rem 0.5rem; */
        border-radius: 1rem;
        margin-left: 1rem;


    }

    .ptag1 {
        font-size: 8rem;
        margin-bottom: 10px;
        padding: 1rem 0 1.3rem 0;
        max-width: 43rem;
    }

    .ptag2 {
        font-size: 3rem;
        text-align: left;
        padding-right: 1rem;
        padding-top: 10px 0;
        display: block;
        max-width: 30rem;
    }

    /*____________________CD play___________________*/

    .loop-player-list {
        padding-top: 30%;
        left: 0;
        float: left;
        z-index: -1;
        min-width: 1000px;
    }

    .cd-relate {
        width: 100%;
    }

    .first-cd {
        width: 70rem;
        height: 70rem;
        right: 30rem;
    }

    .ready-diskmove {
        transform: translate3d(20%, 0%, 0);
        z-index: -1;
    }

    .ready-diskmove01 {
        left: 20%;
        top: 38%;
    }

    .ready-play {
        width: 30rem;
        height: 30rem;
        right: 60rem;
        top: 10rem;
        z-index: -3;
    }

    .cd-play {
        width: 100%;
        height: 100%;
    }
}
/*____________________________Artist___________________________*/

#ARTIST {
    padding-top: 40px;
    outline: 1px solid #fff;
    outline-offset: 30px;
    width: 100%;
    overflow: hidden;
    /* border-bottom: 1px solid #fff; */
}

.box94ml {
    margin-left: 10%;
}

.h2-title {
    color: #8d8d8d;
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.h2-title01 {
    font-size: 1.8rem;
    font-weight: 900;
    position: relative;
}

.pinkcircle {
    padding-bottom: 50px;
    padding-left: 20px;
}

.pinkcircle::before {
    background-color: rgb(255, 106, 125);
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    padding-top: 0.4rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.content21::before {
    content: '21';
}

.content5::before {
    content: '5';
}

.content6::before {
    content: '6';
}

.content3::before {
    content: '3';
}

.artimgbox {
    margin-top: 4rem;

    /* padding-bottom: 2rem; */
    margin-right: 15px;
    /* position: absolute; */
}

.imgbox {
    width: 100%;
    border-radius: 20px;
    border: 1px none;
    overflow: hidden;
}

.contentname {
    font-size: 1.4rem;
    line-height: 2;
    padding-top: 10px;
}

.contentsub {
    font-size: 1rem;
    color: #8d8d8d;
}

.artcbox {
    width: 20%;
}

.artflex {
    display: flex;
    overflow: hidden;
    width: 1800px;
}

.lowbox {
    margin-bottom: 80px;
    ;
}

@media screen and (max-width:768px) {

    #ARTIST {
        padding-top: 5rem;
        outline: 0 solid #000;
    }

    .brw {
        border-top: 1px solid #ffffff;
    }
    .h2-title {
        font-size: calc(1vw + 1vh + 0.5vmin);
        padding-bottom: 0.5rem;
    }

    .h2-title01 {
        /* font-size: 2.8rem; */
        font-size: 6vw;
        font-weight: 900;
        position: relative;
    }

    .pinkcircle {
        padding-bottom: 50px;
        padding-left: 10px;
    }

    .pinkcircle::before {
        font-weight: 500;
    }

    .artflex {
        width: 350%;
        min-width: 1800px;
    }

    .pinkcircle::before {

        width: 5rem;
        height: 4rem;
        padding-top: 1.2rem;

    }

}

/*__________________Radio_____________________________*/

#RADIO {
    margin-top: 6rem;
    overflow: hidden;
    padding-top: 0;
}

.radiocontent {
    /* padding-top: 6rem; */
    /* padding-bottom: rem; */
    margin-top: 5rem;
    display: flex;
    justify-content: start;
    z-index: 1;
    position: relative;
}

.radiocontent::before {
    background-image: url(../img/radio_bg.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    content: '';
    top: 0;
    right: 0;
    left: -100%;
    width: 200%;
    bottom: 0;
    background-position: center;
    position: absolute;
}

.radiocontent::after {
    background-image: url(../img/noise.png);
    background-repeat: repeat;
    background-size: 5%;
    opacity: 0.1;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.one {
    position: relative;
}

.contentsz {
    min-width: 25%;
    padding-top: 9rem;
    padding-right: 3rem;
    padding-left: 12rem;
}



.contenttitle {

    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.contentp {
    white-space: normal;
    text-overflow: initial;
    overflow: visible;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5;
}

.wht {
    color: #fff;
}

.gry {
    color: #ffffff;
}

.first-airbox img {
    width: 100%;
}

.airbox {
    bottom: 3rem;
    border-radius: 2rem;
    overflow: hidden;
}

.airbox img {
    width: 100%;
}

.radio-li {
    width: 16rem;
}

.radio-online {
    width: 27rem;
}

.li-space {
    padding-right: 2rem;
}

.first-airbox ::before {
    background-image: url(../img/radio_shadow.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    content: '';
    z-index: -1;
}

.sz-18 {
    width: 2000px;
    align-items: baseline;
    flex-shrink: 0;
}

@media screen and (max-width:768px) {
    #RADIO {
        padding-top: 2rem;
        margin-top: 0;
    }

    .radiocontent {
        display: block;
        justify-content: center;
        margin-bottom: 15rem;
    }

    .radiocontent::before {
        left: 5rem;
        width: 90vw;
        height: 45vh;
        border-radius: 3rem;
    }

    .contentsz {
        min-width: 90rem;
        padding-top: 9rem;
        padding-right: 0;
        padding-left: 5rem;
        flex-shrink: 0;
    }

    .contentsz-li {
        position: absolute;
        top: 62rem;
        display: block;
        flex-shrink: 0;
    }

    .contenttitle {

        font-size: 3rem;
    }

    .contentp {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.9rem;
    }

    .w-90 {
        width: 90vw;
    }

    .gry {
        color: #969696;
    }

    .wht {
        color: rgb(0, 0, 0);
    }

    .radio-li {
        width: 47rem;
    }

    .radio-online {
        width: 47rem;
    }

    .sz-18 {
        position: relative;
        right: 34rem;
    }

}


/*________________INFO__________________________*/

#INFO {
    margin-top: 6rem;
    overflow: hidden;
}

.infocontent {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid #fff;
    width: 80%;
}

.infosz {
    max-width: 15%;
    min-width: 13%;
    padding-right: 1rem;
}

.infobox {
    text-align: left;
    margin-right: 1rem;
}

.infobox img {
    margin-bottom: 20px;
    border: 1px none;
    border-radius: 15px;
    overflow: hidden;
}

.txthide {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #8d8d8d;
}

.infoul {
    flex-shrink: 0;
    /* justify-content: space-between; */
}

.btn {
    animation: opacity1 1.5s, smallbig 0.5s ease-in-out initial;
    position: absolute;
    transform: translatez(100px);
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
    right: 0;
    bottom: 0;
    margin: 0 auto;

}

.btn:hover::before {
    position: absolute;
    content: '';
    /* display: inline-block; */
    background-image: url(../img/record_circle.png);
    top: 4rem;
    right: 1rem;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    width: 30%;
    margin: 0 auto;
    background-size: contain;
}

.btn:hover::after {
    position: absolute;
    content: '';
    background-image: url(../img/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 5.3rem;
    right: 0.8rem;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 8%;
}

@keyframes opacity1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes smallbig {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width:768px) {
    #INFO {
        margin-bottom: 0;
        overflow: auto;
    }

    

    .infocontent {
        width: 100%;
        border: 0 solid #000;
    }

    .infoul {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .infosz {
        max-width: 29rem;
        width: 30rem;
        min-width: 23rem;
        padding-right: 1rem;
        margin-bottom: 4rem;
    }

    .infobox {
        text-align: left;
    }

    .infobox img {
        margin-bottom: 1rem;
        border: 1px none;
        border-radius: 2rem;
        overflow: hidden;
    }

    .txthide {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #8d8d8d;
    }

    .imgbox {
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    @keyframes opacity1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes smallbig {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

}
/*_______________CONTENTS_______________*/

/* #CONTENTS {

} */

.contentcontainer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.contentbox {
    background-image: url(../img/pickup_bg.jpg);
    background-position-y: 30%;
    background-size: 300%;
    height: 12.5vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.cbox-bg01 {
    background-position-x: 10%;
}

.cbox-bg02 {
    background-position-x: 30%;
}

.cbox-bg03 {
    background-position-x: 80%;
}

.contentbox ::before {
    background-image: url(../img/noise.png);
    background-repeat: repeat;
    background-size: 2%;
    opacity: 0.05;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.contentimg {
    width: 100px;

}

.contentli {

    width: 100%;
    margin-right: 2%;
    /* max-width: 26%; */
}

.content-f {
    text-align: left;
    margin-top: 10px;
}

@media screen and (max-width:768px) {

    #CONTENTS {
        overflow: hidden;
    }

    .backnormal {
        margin: 0 -10% 0 10%;
    }
    .contentcontainer {
        min-width: 100rem;
    }

    .contentimg {
        width: 15rem;
    }

    .contentbox {
        height: 22rem;
        border-radius: 2rem;
    }

}

/*_____________Footer_______________*/

#footer {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.footerbox {
    margin: 0 10%;
    background-color: #fff;
    border-radius: 25px;
}

.footercontain {
    width: 100%;
    padding: 4rem 0;
    /* flex-shrink: 0; */
    margin: 0 auto;

}

.fb-h:hover {
    color: #007aff;
}

.tw-h:hover {
    color: #1d9bf0;
}

.ln-h:hover {
    color: #00b900;
}

.brline {
    
    flex-basis: auto;
}

.br-r {
    border-right: 1px solid #8d8d8d54;
}

.br-l {
    border-left: 1px solid #8d8d8d54; 
}

.btnstyle {
    padding: 0.6rem 30%;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
}

.ptext::before {
    display: block;
    content: attr(data-text);
    color: #fff;
}

.footertitle {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.footerli {
    width: 35%;
}

.animt-circle {
    position: absolute;
    width: 8%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 95.5%;
    z-index: 10;
    transform: translate3d(5%, -20%, 0);
}

.animt-circle img {
    animation: rotate 10000ms linear infinite;
}

.animt-circle::before {
    background-image: url(../img/share_circle_ico.svg);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center right;
    /* margin: ; */
    z-index: 10;
    width: 100%;
    height: 0;
    padding-top: 100%;

}



@media screen and (max-width:768px) {
    #footer {
        margin-bottom: 30rem;
    }
    .footer-ul {
        display: block;
    }
    .footerli {
        width: 100%;
    }

    .foootercontain {
        padding: 0;
    }
    .brline {
        display: flex;
        justify-content: space-between;
        margin: 0 7rem;
        padding-bottom: 3.5rem;
        border-bottom: 1px solid #8d8d8d34;
        border-right: 0;
    }

    .br-r {
        border-right: 0;
    }
    
    .br-l {
        border-left: 0 solid #000;
    }

    .foot-title {
        text-align: left;
    }

    .btnstyle {
        padding: 0rem 4.5rem;
        border-radius: 5rem;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0;
    }

    .footertitle {
        font-style: 2.8rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .h2-title {
        font-weight: 500;
    }

    .footerbox {
        border-radius: 2rem;
    }

    .animt-circle {
        position: absolute;
        width: 16%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 95.5%;
        z-index: 1;
        transform: translate3d(-2rem, -5rem, 0);
    }

}
/*___________________RWD___________*/



    /*______________________banner__________________________*/
   

    /*__________________ARTIST__________________________*/

    
    /*________________RADIO______________________*/

   
    /*_________________________INFO_________________________________*/

   
